body {
    margin: 50px;
}

.header {
    background-color: brown;

    font-size: 20pt;
    color: white;
    text-align: center;
    width: 100%;
}

.center {
    text-align: center;
    font-weight: 600;
    font-size: 16pt;
}

.align-left {
    color: brown;
}

.align-right {
    color: blue;
    text-align: right;
}

hr {
    font-weight: 600;
}